
.searchBar {
    box-shadow: #DCE2F0 0px 0px 0px 3px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 32.5px;
    margin-top: 70px;
}
.searchBar input { 
    height: 20px;
    border: 1.5px solid rgb(233,234,235);
    border-radius: 15px;
    padding:15px;
} 
.materialSymbolsOutlined {
    color: rgb(180, 180, 180);
}
.searchBar button { 
    position: absolute;
    margin: 0 10px;
    right: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
}
.searchBar button:hover { 
    background-color: #DCE2F0;
}
